{% extends 'base.html' %}
{% load static %}
{% block title %}
    Teams
{% endblock %}

{% block body %}
<br>
<section class="breadcrumb-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="page-title">
                    <h1>Teams</h1>
                </div>
            </div>
            <div class="col-12">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb" style="background: #fff;color: #fff;">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Teams</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        {% for team in teams %}
        <div class="col-sm-4 mt-4">
            <div class="card"  style="height:300px">
                <a href="/Players/{{ team.id }}">
                    <center><img class="card-img-top" src="{{ team.logoUrl.url }}" alt="Card image cap" style="width:100px;"></center> 
                </a>
                <div class="card-body">
                    <center><h5 class="card-title">{{ team.clubState }} {{ team.name }}</h5></center>
                </div>

                <div class="card-body">
                    <a href="/Players/{{ team.id }}" class="card-link">Players</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}

{% block js %}
    
{% endblock js %}